<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table pretty">
  <tr>
    <th><%= sortable 'name', "#{object.first.class.name.downcase}" %></th>
    <th><%= sortable 'calorie_counts.count', "#{object.first.class.name.downcase}", 'Calories' %></th>
  </tr>
  <% object.each do |item| %>
    <tr>
      <td><%= link_to item.name, "/#{item.class.name.downcase.pluralize}/#{item.id}" %></td>
      <td><%= item.calorie_count.count %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate object, :param_name => "#{object.first.class.name.downcase.pluralize}_page", :params => { :controller => :calorie_counts, action: :index } %>
