<h1>Health Tracker</h1>

<ul>
  <% @foods.each do |food| %>
    <li>NAME: <%= link_to food.name, food_path(food) %>, COUNT: <%= food.calorie_count.count %></li>
  <% end %>
</ul>

<%= link_to "Add a new food", new_food_path %>

<ul>
  <% @exercises.each do |exercise| %>
    <li>EXERCISE NAME: <%= exercise.name %>, COUNT: <%= exercise.calorie_count.count %></li>
  <% end %>
</ul>
